---
- name: Determine if Atomic
  stat: path=/run/ostree-booted
  register: s
  changed_when: false

- name: Init the is_atomic fact
  set_fact:
    is_atomic: false

- name: Set the is_atomic fact
  set_fact:
    is_atomic: true
  when: s.stat.exists

- name: Determine if RHEL7
  shell: "grep 'Red Hat Enterprise Linux.*release 7' /etc/redhat-release"
  register: is_rhel7
  failed_when: false
  changed_when: false

- include: rhel7_repos.yml
  when: is_rhel7.rc == 0

- name: Determine if firewalld installed
  command: "rpm -q firewalld"
  register: has_firewalld
  failed_when: "'package firewalld is not installed' not in has_firewalld.stdout and has_firewalld.rc != 0"
  changed_when: false

- name: Determine if iptables-services installed
  command: "rpm -q iptables-services"
  register: has_iptables
  failed_when: "'package iptables-services is not installed' not in has_iptables.stdout and has_iptables.rc != 0"
  changed_when: false

- name: Determine if cadvisor installed
  command: "rpm -q cadvisor"
  register: has_cadvisor
  failed_when: "'package cadvisor is not installed' not in has_cadvisor.stdout and has_cadvisor.rc != 0"
  changed_when: false

#- name: Clear /opt/bin directory
#  command: "rm -rf /opt/bin"

- name: Ensure target directory exists
  file: dest=/opt/bin state=directory

- name: Check etcd config directory exists
  file: dest=/etc/kubernetes state=directory


#- name: Copy all binaries file 
#  copy: src={{ item }} dest=/opt/bin mode=755
#  with_fileglob:
#    - ./*  

- name: Set IP address variables
  set_fact:
    master_ip_address: "{{ hostvars[groups['masters'][0]]['ansible_eth0']['ipv4']['address'] }}"
    etcd_ip_address: "{{ hostvars[groups['etcd'][0]]['ansible_eth0']['ipv4']['address'] }}"

- include: aws.yml
